@model ProductViewModel

<section class="product-container" shop-product-id="@this.Model.Id">
    <header>
        <a href="#" shop-product-name="@this.Model.Name" shop-action="product-details">@this.Model.Name</a>
    </header>
    <img shop-action="product-details" src="@this.Model.CoverUrl" />
    <div class="text-center">
        <label for="product-quantity">Quantity</label>
    </div>
    <input class="d-block mx-auto" shop-product-quantity type="number" />
    <div class="text-center" shop-product-price="@this.Model.Price"> $@this.Model.Price </div>
    <section>
        <button shop-action="order-product" class="ui-button ui-widget ui-corner-all" type="button">Order</button>
    </section>
</section>