@model IEnumerable<OrderViewModel>


@if (this.Model.Count() == 0)
{
    <h3 class="text-center p-1 mx-auto w-50">No Orders with this status.</h3>
}
else
{
    <table class="w-100 mx-auto">
        <thead>
            <tr>
                <th style="display: none;">Id</th>
                <th style="display: none;">Product Id</th>
                <th width="200">Product</th>
                <th width="200">User</th>
                <th width="150">Quantity</th>
                <th width="150">Total Price</th>
                <th width="188">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in this.Model)
            {
                <tr>
                    <td style="display: none;">@order.Id</td>
                    <td style="display: none;">@order.Product.Id</td>
                    <td width="200">@order.Product.Name</td>
                    <td width="200">@order.User</td>
                    <td width="150">@order.Quantity</td>
                    <td width="150">$@order.TotalPrice</td>
                    <td width="188">@order.Status.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}