<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <section class="info-bar">
            <div class="contact-info">
                <p><i class="fas fa-phone-square-alt fa-lg"></i> <i>+3592898989</i></p>
                <p><i class="fas fa-envelope-square fa-lg"></i> <i>test@email.com</i></p>
                <p><i class="fas fa-map-marker-alt fa-lg"></i> <i>1734 Stonecoal</i> Road</p>
            </div>
            <div class="account-actions">
                <a class="btn" href="/Account/Login">Login</a>
                <a class="btn" href="/Account/Register">Register</a>
            </div>
        </section>
        <nav class="nav">
            <ul>
                <li><a class="btn" href="/Home/Index">Home</a></li>
                <li><a class="btn" href="#">About</a></li>
                <li><a class="btn" href="#">Contact</a></li>
                <li><a class="btn" href="/Test/Route">Test</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="page-footer">All Rights Reserved &copy; 2019</footer>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
