@model LoginInputModel

<div class="w-60r mx-auto mt-5r">
	<h2 class="form-title text-center">Login</h2>
	<form class="shop-form text-center" action="@Url.Action("Login", "Account")" method="@FormMethod.Post.ToString()">
		@Html.ValidationSummary(true)
		<div>
			<label for="@nameof(this.Model.UserName)">Username</label>
			@Html.EditorFor(u => u.UserName)
			@Html.ValidationMessageFor(u => u.UserName)
		</div>
		<div>
			<label for="@nameof(this.Model.Password)">Password</label>
			@Html.EditorFor(u => u.Password)
			@Html.ValidationMessageFor(u => u.Password)
		</div>
		<div>
			<input class="shop-btn w-50" type="submit" value="Login"/>
		</div>
		<p class="text-center">Don't have an account? You can create one <a href="@Url.Action("Register", "Account")">here</a>.</p>
	</form>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")	
}