@model RegisterInputModel

<div class="w-60r mx-auto mt-5r empty-after">
	<h2 class="form-title text-center">Register</h2>
    <form class="shop-form text-center" action="@Url.Action("Register", "Account")" method="@FormMethod.Post.ToString()">
        @Html.ValidationSummary(true)

        <div>
            @Html.LabelFor(u => u.UserName)
            @Html.EditorFor(u => u.UserName)
            @Html.ValidationMessageFor(u => u.UserName)
        </div>
        <div>
            @Html.LabelFor(u => u.FirstName)
            @Html.EditorFor(u => u.FirstName)
            @Html.ValidationMessageFor(u => u.FirstName)
        </div>
        <div>
            @Html.LabelFor(u => u.LastName)
            @Html.EditorFor(u => u.LastName)
            @Html.ValidationMessageFor(u => u.LastName)
        </div>
        <div>
            @Html.LabelFor(u => u.Email)
            @Html.EditorFor(u => u.Email)
            @Html.ValidationMessageFor(u => u.Email)
        </div>
        <div>
            @Html.LabelFor(u => u.Password)
            @Html.EditorFor(u => u.Password)
            @Html.ValidationMessageFor(u => u.Password)
        </div>
        <div>
            @Html.LabelFor(u => u.ConfirmPassword)
            @Html.EditorFor(u => u.ConfirmPassword)
            @Html.ValidationMessageFor(u => u.ConfirmPassword)
        </div>
        <div>
            @Html.LabelFor(u => u.PhoneNumber)
            @Html.EditorFor(u => u.PhoneNumber)
            @Html.ValidationMessageFor(u => u.PhoneNumber)
        </div>
        <div>
            @Html.LabelFor(u => u.BirthDate)
            @Html.EditorFor(u => u.BirthDate)
            @Html.ValidationMessageFor(u => u.BirthDate)
        </div>
        <div>
            <input class="shop-btn w-50" type="submit" value="Register" />
        </div>

    </form>
	<p class="text-center">Already have an account? You can sign in <a href="@this.Url.Action("Login", "Account")">here</a>.</p>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script type="text/javascript">
		$(function () {
            $("#BirthDate").flatpickr({});
		});
	</script>
}