<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>ShopApp</title>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	@Styles.Render("~/Content/style.css")
	@Styles.Render("~/bundles/jquery-ui")
</head>
<body>
	<section class="banner">
		<section>
			<div class="banner-icon">
				<i class="fab fa-stripe-s fa-3x"></i>
			</div>
			<div class="banner-search-box">
				<input type="text" class="text-center" placeholder="Search for a product..." />
				<button class="shop-btn" type="button"><i class="fas fa-search fa-lg"></i></button>
			</div>
			<div class="banner-order-information">
			</div>
		</section>
	</section>

	<nav class="shop-nav">
		<ul>
			<li>@Html.ActionLink("Index", "Index", "Home")</li>
			<li>@Html.ActionLink("Products", "All", "Product")</li>
			<li>@Html.ActionLink("Blog", "Blog", "Home")</li>
			<li>@Html.ActionLink("Shop", "Shop", "Home")</li>
			<li>@Html.ActionLink("About", "About", "Home")</li>
			<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
			<li class="dropdown">
				<a href="#" class="dropbtn">My Account</a>
				<div class="dropdown-content">
					@if (this.User.Identity.IsAuthenticated)
					{
						@Html.ActionLink("Profile", "Profle", "Account")
						@Html.ActionLink("Logout", "Logout", "Account", null, new { shop_action = "logout" })
					}
					else
					{
						@Html.ActionLink("Login", "Login", "Account")
						@Html.ActionLink("Register", "Register", "Account")
					}
				</div>
			</li>
		</ul>
	</nav>

	<div id="shared-modal" title="...">
		<p>...</p>
	</div>

	@this.RenderBody()

	<footer class="shop-footer">
		<section class="footer-information">
			<section>
				<h4 class="text-center">Contact Info</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
			</section>
			<section>
				<h4 class="text-center">Contact Info</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
			</section>
			<section>
				<h4 class="text-center">Contact Info</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
			</section>
		</section>
		<section class="footer-copyright-info text-center">
			<p>All Rights Reserved &copy; 2019</p>
		</section>
	</footer>

	@RenderSection("scripts", required: false)
	<script>
		$(function () {
			var modal = $("#shared-modal");

			modal.dialog({
				autoOpen: false,
				show: {
					effect: "blind",
					duration: 1000
				},
				hide: {
					effect: "explode",
					duration: 1000
				}
			});
		});
	</script>
</body>
</html>