<nav class="shop-nav">
    <ul>
        <li>@this.Html.ActionLinkWithoutArea("Index", "Index", "Home")</li>
        <li>@this.Html.ActionLinkWithoutArea("Browse", "All", "Product")</li>
        <li>@this.Html.ActionLinkWithoutArea("About", "About", "Home")</li>
        <li>@this.Html.ActionLinkWithoutArea("Contact", "Contact", "Home")</li>
        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole(RolesConstants.Administrator))
        {
            <li>@this.Html.ActionLink("All Orders", "Orders", "Administration", new { area = "Admin" }, new { })</li>
        }
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">My Account</a>
            <div class="dropdown-content">
                @if (this.User.Identity.IsAuthenticated)
                {
                    @: @this.Html.ActionLinkWithoutArea("Profile", "MyProfile", "Account")
                    @: @this.Html.ActionLinkWithoutArea("Logout", "Logout", "Account", new { shop_action = "logout" })
                }
                else
                {
                    @: @this.Html.ActionLinkWithoutArea("Login", "Login", "Account", new { shop_action = "logout" })
                    @: @this.Html.ActionLinkWithoutArea("Register", "Register", "Account")
                }
            </div>
        </li>
    </ul>
</nav>